/*General*/

body {
    line-height: 1.5;
    background: url("catcorner.jpg")no-repeat center center fixed;
    background-size: 100% 100%;
}

.container {
    background-color: rgba(245, 245, 245, 0.85);
}

h4,
select {
    padding: 10px;
}

.btn{
	margin: 12px;
}
